// Import your own custom fonts from e.g. web sources
// * Note: If you are adding own custom font files in the project,
// * remember to add them to webpack config for improved load time.
@import url( 'https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700'); // Global variables
$font-stack: 'Merriweather Sans', Helvetica, sans-serif;
$brand-color-primary: #e1e1e1;
$brand-color-black: #333438;

a {
  color: $brand-color-black;

  &:hover {
    text-decoration: none;
  }
}

footer {
  margin-top: 20px;
}

main {
  margin-top: 90px;
}

.logo {
  width: 60px;
}

.active {
  color: red !important;
  font-weight: bold;
}

.activeFighter,
.inactiveFighter {
  font-weight: bold;
}

.activeFighter {
  color: #5cb85c;
}

.inactiveFighter {
  color: #d9534f;
}

.Navbar {
  background: $brand-color-black;
  border: none;

  .navbar-nav {
    li {
      a {
        color: white;

        &:hover {
          color: red;
        }
      }
    }
  }
}

.EventGenerator {
  .event-item {
    border-radius: 4px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $brand-color-primary;
    box-shadow: 0 1px 3px rgba(77, 132, 0, 0.12), 0 1px 2px rgba(77, 132, 0, 0.24);
    h3{
      font-weight:bold;
    }
    .passedDate {
      color: red;
      font-weight: bold;
    }

    img {
      margin: auto;
    }

    .btn {
      margin-top: 20px;
    }
  }
}

.About {
  .fighter-item {
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $brand-color-primary;
    box-shadow: 0 1px 3px rgba(77, 132, 0, 0.12), 0 1px 2px rgba(77, 132, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-bottom: 80px;

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      cursor: pointer;
    }
  }
}

.box {
  box-shadow: 0 1px 3px rgba(77, 132, 0, 0.12), 0 1px 2px rgba(77, 132, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
